.Index{
    /* width: var(--app-width); */
    --primary-color:rgb(162, 242, 206);
    background-color: var(--primary-color);
}
.Index>.header{
    height: 90px;
    text-align: center;
    margin: auto;
    background: none;
}
.Index>.content{
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.Index>footer{
    background-color: rgb(221, 218, 218);
    text-align: center;
}